$main-color:#35b8be;
$main-color-hover:#2faeb4;
$secondary-color:#bec0c7;
$secondary-color-hover:rgb(126 130 143);
$font-family:"Inter, sans-serif";
$alice-blue:#F5FBFC;
$alert:#FF8946;
$heading:#191B22;
$paragraph:#546285;
$heading1: 60px;
$heading2: 55px;
$heading3: 40px;
$heading4: 34px;
$heading5: 28px;
$heading6: 22px;
$paragraph-size: 18px;
$toggle-icon:'"\e602"';
$notice-text:hsla(0, 0%, 100%, 0.8);
$main-transition:.4s;
$half-transition: calc($main-transition / 2);
$section-margin: 120px;
$border-color: #f6fbfc;